:local(.responsive-table) {
  overflow-x: auto;
}

:local(table) {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

:local(thead) {
  border-bottom: 1px solid #e6e7e9;
}

:local(th) {
  color: #777;
  padding: 10px;
}

:local(tbody tr) {
  border-bottom: 1px solid #e6e7e8;
}

:local(tbody tr td) {
  text-align: center;
  padding: 10px 0;
}

@media (min-width: 768px) {
  :local(tbody tr td) {
    text-align: left;
  }
}
