:local(.appContainer) {
  text-align: center;
}

:local(header) {
  background-color: #222;
  color: white;
  padding: 10px 0;
}

:local(h1) {
  font-size: 1.5em;
  margin: 0;
}

:local(.wrapper600) {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}
