:local(.container) {
  padding: 0;
}

:local(input) {
  border: 2px solid #999;
  padding: 10px 15px;
  width: 100%;
}

:local(input:focus) {
  outline: none;
}

@media (min-width: 768px) {
  :local(.container) {
    padding: 10px 0;
  }
}
